<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>

        <div class="header-top-bar">
        <!-- logo -->
       <img  src="/images/logo-mercado-liebre.svg" alt="logo"  width="40%" class="logo" href="http://localhost:3000/home"> 

        <!-- buscador -->
        <div class="header-buscador">
           
            <div class="header-buscador" >
                <input class="input3"  type="text" placeholder="Buscar productos, marcas y mas">
                <span >
                  <i style="padding-top:5px"
                  class="material-symbols-outlined">search</i>
                </span>
              </div>
              
         
        </div>

        <!-- compra en cuotas -->
        <h4>
            <span class="material-symbols-outlined">
                price_check
            </span>
            Comprá en cuotas y sin tarjeta de crédito
        </h4>
    </div>
        <!-- info -->
        <div class="header-info">
        <nav class="header-info-nav">
            
                <li><a href="">Ofertas</a></li>
                <li><a href=""> Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            
           </nav>
           <nav class="header-info-nav">
            
                <li>
                    <a href="https://mercadoliebre-grupo10.herokuapp.com/registro"> Creá tu cuenta<span class="material-symbols-outlined">
                            badge
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://mercadoliebre-grupo10.herokuapp.com/login">Ingresá
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">Mis compras
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>

                </li>
            
        </nav>
        </div>
        <!-- burguer -->
    <div class="burguer">
        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    
    </header>

    <main>
        <section>
            <img src="/images/img-home-banner.jpg" alt="" width="100%" height="">
            <h2 class="titulares">Basado en tu última visita</h2>

            <div class="productos">
            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="70%" height="100%">
                
                </div>
                <div class="producto-info">
                <div class="producto-info-camion">
                    <span class="material-symbols-outlined camioncito">
                    local_shipping
                    </span>
                    </div>
                <div class="producto-precio-descuento">

                    <p class="producto-precio">$6.770</p>
                    <p class="producto-descuento">40% OFF</p>
                </div>
                <h4 class="producto-descripcion">Cafetera Moulinex</h4>
            </div>
            </div>

            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="70%" height="100%">
                </div>
               
                <div class="producto-info">
                    <div class="producto-info-camion ">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
                    </div>
                <div class="producto-precio-descuento"> 
                <p class="producto-precio">$230.000</p>
                <p class="producto-descuento">20% OFF</p>
                </div>
                <h4 class="producto-descripcion">MacBook Pro 2019</h4>

            </div>
            </div>

            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="70%" height="100%">
                </div>

                <div class="producto-info">
                    <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
                </div>
                <div class="producto-precio-descuento">
                <p class="producto-precio">$70.500</p>
                <p class="producto-descuento">10% OFF</p>
            </div>
                <h4 class="producto-descripcion">Samsung Galaxy S10</h4>
            </div>
            </div>

            
            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="70%" height="100%">
                
                </div>
                <div class="producto-info">
                <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
                    </div>
                    <div class="producto-precio-descuento">
                <p class="producto-precio">$23.200</p>
                <p class="producto-descuento">5% OFF</p>
                </div>
                <h4 class="producto-descripcion">SmartTv Samsung 43"</h4>
            </div>
            </div>
        </div>
        </section>

        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <div class="productos">
            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="70%" height="100%">
            </div>

                <div class="producto-info">
                    <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
            </div>
            <div class="producto-precio-descuento"> 
                <p class="producto-precio">$6.770</p>
                <p class="producto-descuento">40% OFF</p>
            </div>
                <h4 class="producto-descripcion">Cafetera Moulinex</h2>
            </div></div>

            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="70%" height="100%">
                </div>
                <div class="producto-info">
                    <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
            </div>
            <div class="producto-precio-descuento"> 
                <p class="producto-precio">$230.000</p>
                <p class="producto-descuento">20% OFF</p>
            </div>
                <h4 class="producto-descripcion">MacBook Pro 2019</h4>
            </div>
            </div>


            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="70%" height="100%">
            </div>

                <div class="producto-info">
                    <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
            </div>
            <div class="producto-precio-descuento"> 
                <p class="producto-precio">$70.500</p>
                <p class="producto-descuento">10% OFF</p>
                </div>
                <h4 class="producto-descripcion">Samsung Galaxy S10</h4>

            </div>
            </div>


            <div class="producto">
                <div class="producto-imagen">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="70%" height="100%">
                </div>

                <div class="producto-info">
                    <div class="producto-info-camion">
                <span class="material-symbols-outlined camioncito">
                    local_shipping
                </span>
                </div>
                <div class="producto-precio-descuento"> 
                <p class="producto-precio">$23.200</p>
                <p class="producto-descuento">5% OFF</p>
                </div>
                <h4 class="producto-descripcion">SmartTv Samsung 43"</h4>
            </div>
            </div>
        </div>
        </section>
    </main>
    <hr>
    <footer>
        <div class="footer-sections">
        <section>
            <br>
            <span class="material-symbols-outlined icon">
                credit_card
            </span>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <hr>
        <section>
            <br>
            <span class="material-symbols-outlined icon">
                redeem
            </span>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <hr>
        <section>
            <br>
            <span class="material-symbols-outlined icon">
                security
            </span>
            <h4>Seguridad, de principio a fin.</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <hr>
    </div>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    
    </footer>

    <body>

</html>